<div id="<%= dom_id todolist %>">
  <p>
    <strong>Add:</strong>
    <%= todolist.add %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= todolist.edit %>
  </p>

  <p>
    <strong>Remove:</strong>
    <%= todolist.remove %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= todolist.mark %>
  </p>

</div>
